ion-item {
    --background: dodgerblue;
}

div {
    color: white;
    text-align: center;
}

// img {
//     height: 55vh;
//     width: auto;
//     margin: 0 auto;
//     border-radius: 5%;
// }

.hidden {
    visibility: hidden;
}