<ion-content>
	<ion-header>
		<ion-toolbar style="border-bottom-width: medium; border-bottom-style: solid; border-bottom-color:dodgerblue"> 
			<ion-title style="text-align:center;">Login/Register</ion-title>
			<ion-button (click)=Why()>
				<ion-icon></ion-icon>
			</ion-button>
		</ion-toolbar>
	</ion-header>
	<ion-button (click)=Login()>
		<p>Log-in&nbsp;</p>
		<ion-icon src="/assets/icon/log-in.svg"></ion-icon>
	</ion-button>
	<ion-button (click)=Register()>
		<p>Register&nbsp;</p>
		<ion-icon name="create-outline"></ion-icon>
	</ion-button>
</ion-content>

