<ion-content style="--background: rgb(34,31,32)">

	<ion-header>
		<ion-toolbar color = "dark">
			<ion-title>
				History
      		</ion-title>
			<ion-buttons slot="start">
				<ion-menu-button autoHide="false"></ion-menu-button>
			</ion-buttons>
		</ion-toolbar>
	</ion-header>

	<div *ngIf="waitingForResponse" style="height: 90%; display: flex; justify-content: center; align-items: center">
		<ion-spinner name="crescent" color="light"></ion-spinner>
	</div>

	<div *ngIf="!waitingForResponse" class="center-col" style="height: 100%; width: 100%; margin-top: 10%">

		<div style="height: 15%; width: 100%; text-align: center">
			<div class="header" style="color:white">
				<div *ngIf="currentCard == 0">Pre-Assessment</div>
				<div *ngIf="currentCard > 0 && currentCard < 9">Level {{currentCard}}</div>
				<div *ngIf="currentCard == 9">Post-Assessment</div>
			</div>
			<ion-item style="width: 100%; --background: rgb(34,31,32); margin-top: 5%" lines="none">
				<ion-range #rangeElement min="0" max="9" step="1" snaps="true" ticks="false" (ionChange)="slide($event.detail.value)" [(ngModel)]="currentCard"></ion-range>
			</ion-item>
		</div>

		<ion-slides #slideElement style="width: 100%; height: 55%; margin-top: 10%" (ionSlideWillChange)="setCurrent()">

			<ion-slide>

				<ion-card class="center-col" style="justify-content: center; height: 100%; width: 100%" [ngClass]="{'not-completed': !pre_post[0].date}">
				
					<div class="center-col" *ngIf="pre_post[0].date" style="height: 100%; width: 100%; justify-content: space-evenly;">
						<div style="text-align: center; font-size: 10vw; color: rgb(206,183,124)">
							<div>{{pre_post[0].date}}</div>
						</div>
						<ion-item style="--background: gainsboro; color: black" lines="none">
							<ion-icon slot="start" name="clipboard" style="font-size: 24vw" color="primary"></ion-icon>
							<span style="font-size: 16vw">{{pre_post[0].score}}</span>
							<span style="font-size: 6vw">/30</span>
						</ion-item>
					</div>
					<div *ngIf="!pre_post[0].date">
						<span style="font-size: 8vw">Not yet completed</span>
					</div>

				</ion-card>

			</ion-slide>

			<ion-slide *ngFor="let day of days; let i = index">

				<ion-card class="center-col" style="justify-content: center; height: 100%; width: 100%" [ngClass]="{'not-completed': !day.date}">

					<div *ngIf="day.date" class="center-col" style="height: 100%; width: 100%; justify-content: space-evenly">
						<div style="text-align: center; font-size: 10vw; color: rgb(206,183,124); margin: 5%">
							<div>{{day.date}}</div>
						</div>
						<div style="display: flex; align-items: center">
							<ion-item style="--background: gainsboro; color: black" lines="none">
								<ion-icon slot="start" name="happy" style="font-size: 18vw" color="primary"></ion-icon>
								<span style="font-size: 10vw">{{day.nameface}}</span>
								<span style="font-size: 4vw">/8</span>
							</ion-item>
							<ion-item style="--background: gainsboro; color: black" lines="none">
								<ion-icon slot="start" name="person-add" style="font-size: 18vw" color="primary"></ion-icon>
								<span style="font-size: 10vw">{{day.whosnew}}</span>
								<span style="font-size: 4vw">/8</span>
							</ion-item>
						</div>
						<div style="display: flex; align-items: center">
							<ion-item style="--background: gainsboro; color: black" lines="none">
								<ion-icon slot="start" name="grid" style="font-size: 18vw" color="primary"></ion-icon>
								<span style="font-size: 9vw">{{day.memory}}</span>
								<span style="font-size: 3.5vw">/32</span>
							</ion-item>
							<ion-item style="--background: gainsboro; color: black" lines="none">
								<ion-icon slot="start" name="swap" style="font-size: 18vw" color="primary"></ion-icon>
								<span style="font-size: 9vw">{{day.shuffle}}</span>
								<span style="font-size: 3vw">/16</span>
							</ion-item>
						</div>
						<div style="display: flex; align-items: center">
							<ion-item style="--background: gainsboro; color: black" lines="none">
								<ion-icon slot="start" name="contacts" style="font-size: 18vw" color="primary"></ion-icon>
								<span style="font-size: 10vw">{{day.forcedchoice}}</span>
								<span style="font-size: 4vw">/8</span>
							</ion-item>
							<ion-item style="--background: gainsboro; color: black" lines="none">
								<ion-icon slot="start" name="checkmark-circle" style="font-size: 18vw" color="primary"></ion-icon>
								<span style="font-size: 10vw">{{day.samedifferent}}</span>
								<span style="font-size: 4vw">/8</span>
							</ion-item>
						</div>
					</div>
					<div *ngIf="!day.date">
						<span style="font-size: 8vw">Not yet completed</span>
					</div>

				</ion-card>

			</ion-slide>

			<ion-slide>

				<ion-card class="center-col" style="justify-content: center; height: 100%; width: 100%" [ngClass]="{'not-completed': !pre_post[1].date}">

					<div *ngIf="pre_post[1].date" class="center-col" style="height: 100%; width: 100%; justify-content: space-evenly;">
						<div style="text-align: center; font-size: 10vw; color: rgb(206,183,124)">
							<div>{{pre_post[1].date}}</div>
						</div>
						<ion-item style="--background: gainsboro; color: black" lines="none">
							<ion-icon slot="start" name="clipboard" style="font-size: 24vw" color="primary"></ion-icon>
							<span style="font-size: 16vw">{{pre_post[1].score}}</span>
							<span style="font-size: 6vw">/30</span>
						</ion-item>
					</div>
					<div *ngIf="!pre_post[1].date">
						<span style="font-size: 8vw">Not yet completed</span>
					</div>

				</ion-card>

			</ion-slide>

		</ion-slides>

	</div>

</ion-content>
