ion-item {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    border-radius: 10px;
    background-color: white;
}

.invalid {
	--background: rgb(255, 209, 209)
}

.valid {
	--background: rgb(207, 253, 217)
}