ion-label {
    color: white;
    margin-left: 10px;
}

ion-input {
    margin: 20px;
    width: 85%;
    border-radius: 10px;
    background-color: white;
    --padding-start: 10px;
    border-left: 10px solid white;
}

.little-label {
    margin-left: 20px;
    font-size: 70%;
}

.little-input {
    margin-top: 0px;
    margin-bottom: 0px;
}

.edited-valid {
    border-left: 10px solid dodgerblue;
}

.valid {
    border-left: 10px solid #01DF74;
}

.invalid {
    border-left: 10px solid #FE2E2E;
}