img {
	height: 95px;
    width: 70px;
    margin: 15px auto;
}

ion-card {
	text-align: center; 
	background-color: gainsboro
}

h5 {
    color: white;
}

.selected-card {
    background-color: gainsboro !important;
}

.disabled-card {
    background-color: transparent;
    opacity: 0.5;
}