.success-card {
    --background: #01DF74;
}

.failure-card {
    --background: #FE2E2E;
}

.default-card {
    --background: gray
}

img {
	height: 95px;
    width: 70px;
    margin: 15px auto;
}

.grid-card {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 15px;
    height: 125px;
    width: 100px;
}

ion-card {
	text-align: center; 
	background-color :gainsboro
}

h5 {
    color: white;
}

.selected-card {
    background-color: gainsboro !important;
}

.disabled-card {
    background-color: transparent;
    opacity: 0.5;
}