ion-card {
    text-align: center;
    background-color: gainsboro;
    display: inline-block;
    margin: 0px;
    height: 78px;
    width: 78px;
    img {
        height: 70px;
        width: 70px;
        margin-left: 4px;
        margin-top: 4px;
    }    
}