ion-card {
    text-align: center;
    background-color: gainsboro;
    display: inline-block;
    margin: 0px;
    height: 70px;
    width: 52px;
    img {
        height: 60px;
        width: 45px;
        margin-left: 4px;
        margin-top: 5px;
    }    
}