<ion-content [ngClass]="{'default': stage != Stage.CORRECT && stage != Stage.INCORRECT, 'success': stage == Stage.CORRECT, 'failure': stage == Stage.INCORRECT}">

  <ion-progress-bar style="margin-top: 0px" value={{progressPercent}}></ion-progress-bar>

  <span *ngIf="!scoreCardDisplayed()">
    <div class="score-banner"><b>Score: {{score}}/{{progressPercent * taskLength}}</b></div>
    <div class="score-change" style="right: 12vw">{{stage == Stage.CORRECT ? '+4' : '-1'}}</div>
  </span>

  <div *ngIf="stage == Stage.START" (click)="startMemorizeTimer()" class="overlay" button>
    <div class="overlay-content">
      Click anywhere to reveal
    </div>
  </div>

  <ion-slides #slideElement (ionSlideDidChange)="ngAfterViewInit(); resetSelected()" (ionSlideReachStart)="firstSlide = true" (ionSlideReachEnd)="firstSlide = false">

    <ion-slide class="flex-slide">

      <div class="prompt-small" *ngIf="stage == Stage.START">Memorize the face placement: {{memorizeTime}}</div>
      <div class="prompt-small" *ngIf="stage == Stage.MEMORIZE">Memorize the face placement: <span class="time-left">{{timeRemaining}}</span></div>
      <div class="prompt-small" *ngIf="stage == Stage.MASK">Hold the faces in your mind...</div>
      <div class="prompt-small" *ngIf="stage == Stage.SELECT">Match the faces</div>
      <div class="prompt-small" *ngIf="stage == Stage.CORRECT">Correct!</div>
      <div class="prompt-small" *ngIf="stage == Stage.INCORRECT">Incorrect!</div>
      
      <div style="text-align: center;">

        <div style="display: flex; justify-content: center;">
          <div *ngFor="let item of [].constructor(4); let i = index" style="margin: 10px">
            <ion-card [button]="stage == Stage.SELECT || stage == Stage.CORRECT || stage == Stage.INCORRECT" (click)="clickFace(i)" [ngClass]="{'selected-card' : selectedFace == i}">
              <img *ngIf="imageIsDisplayed(i)" [src]="stage == Stage.MASK ? mask : randomFaces[i]"/>
            </ion-card>
          </div>
        </div>

        <div style="display: flex; justify-content: center;">
          <div *ngFor="let item of [].constructor(4); let i = index" style="margin: 10px">
            <ion-card [button]="stage == Stage.SELECT || stage == Stage.CORRECT || stage == Stage.INCORRECT" (click)="clickFace(i + 4)" [ngClass]="{'selected-card' : selectedFace == i + 4}">
              <img *ngIf="imageIsDisplayed(i + 4)" [src]="stage == Stage.MASK ? mask : randomFaces[i + 4]"/>
            </ion-card>
          </div>
        </div>

        <div style="display: flex; justify-content: center">
          <div *ngFor="let item of [].constructor(4); let i = index" style="margin: 10px">
            <ion-card [button]="stage == Stage.SELECT || stage == Stage.CORRECT || stage == Stage.INCORRECT" (click)="clickFace(i + 8)" [ngClass]="{'selected-card' : selectedFace == i + 8}">
              <img *ngIf="imageIsDisplayed(i + 8)" [src]="stage == Stage.MASK ? mask : randomFaces[i + 8]"/>
            </ion-card>
          </div>
        </div>

        <div style="display: flex; justify-content: center">
          <div *ngFor="let item of [].constructor(4); let i = index" style="margin: 10px">
            <ion-card [button]="stage == Stage.SELECT || stage == Stage.CORRECT || stage == Stage.INCORRECT" (click)="clickFace(i + 12)" [ngClass]="{'selected-card' : selectedFace == i + 12}">
              <img *ngIf="imageIsDisplayed(i + 12)" [src]="stage == Stage.MASK ? mask : randomFaces[i + 12]"/>
            </ion-card>
          </div>
        </div>

      </div>

      <ion-item class="footer" lines="none">
        <ion-label>Swipe to Continue</ion-label>
        <ion-icon slot="end" color="dark" name="arrow-back"></ion-icon> 
      </ion-item>

    </ion-slide>

   <!--Score page-->
    <ion-slide>
      <app-score-page [score]="score" [length]="taskLength" [assessment]="false" (finished)="finish($event)"></app-score-page>
    </ion-slide>

  </ion-slides>

</ion-content>