/* for phone screens */
#learningView {
	--background: gray;
}

h1 {
	/*height: 10%;*/
}

ion-card {
	width: 90%;
	height: 60%;
	text-align: center;
	border-radius: 2%;
	box-shadow: 6px 4px 5px rgba(0, 0, 0, 0.7);
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	background-color:gainsboro;
}

ion-grid {
	height: 25%;
	ion-row {
		height:33%;
	}
	.progressDisplay {
		height:16% !important;
	}
}

ion-button {
	width: 80%;
}

.imgContainer {
	height: 75%;
	width: 100%;
	text-align: center !important;
}

#faceImg {
	height: 100%;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.nameContainer {
	height: 20%;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	background-image: url("./../../assets/background_imgs/nametag.png");
	background-position: center;
	background-size: auto 100%; /*width, height*/
	background-repeat: no-repeat;
	#nameDisplay {
		height: 95%;
		position: relative;
		#nameText {
			color: dodgerblue;
			font-weight: bold;
			font-size: large;
			margin: 5px;
			position: absolute;
			left: 50%;
			transform: translate(-55%, 0);
			top: 25%;
		}
	}
}

@media only screen and (min-width: 768px) {
	/* for large screens like iPad and laptop */

	#faceImg {
		height: auto;
		width: 50%;
	}

}