/* for phone screens */
#learningView {
	--background: rgb(34,31,32);
}

ion-card {
	width: 90%;
	height: auto;
	text-align: center;
	border-radius: 2%;
	box-shadow: 6px 4px 5px rgba(0, 0, 0, 0.7);
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	background-color: gainsboro;
}

ion-button {
	width: 80%;
	height: 100%;
	padding: 0;
	margin: 5px;
}

ion-icon {
	font-size: 100%;
}

.imgContainer {
	height: 230px;
	width: auto;
	text-align: center !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#faceImg {
	margin: 0 auto;
	height: 210px;
	width: 160px;
	display: inline-block;
}

.nameContainer {
	height: 70px;
	width: 100%;
	margin-bottom: 10px;
	background-image: url("../../assets/background_imgs/nametag.png");
	background-position: center;
	background-size: auto 100%; /*width, height*/
	background-repeat: no-repeat;
	#nameDisplay {
		height: 100%;
		position: relative;
		#nameText {
			color: rgb(206,183,124);
			font-weight: bold;
			font-size: large;
			margin: 5px;
			position: absolute;
			left: 50%;
			transform: translate(-55%, 0);
			bottom: 15%;
		}
	}
}
