<ion-content id="learningView">
	<ion-progress-bar style="margin-top: 0px" value={{progressPercent}}></ion-progress-bar>
	<h5 style="color: white; text-align: center">Memorize the faces and names</h5>

	<ion-slides #slideElement (ionSlideNextStart)="changeCard('next')" (ionSlidePrevStart)="changeCard('back')" style="height: 60%; width: 100%;">
		<ion-slide *ngFor="let face of facePaths; let i = index" style="text-align: center; display: block">

			<ion-card>
				<div class="imgContainer">
					<img [src]="face" id=faceImg>
				</div>
				<div class="nameContainer">
					<div id="nameDisplay">
						<p id="nameText">{{setNames[i]}}</p>
					</div>
				</div>
			</ion-card>

		</ion-slide>
	</ion-slides>

	<ion-item *ngIf="!swiped" class="footer" lines="none">
		<ion-label>Swipe to Continue</ion-label>
		<ion-icon slot="end" color="dark" name="arrow-back"></ion-icon>    
	</ion-item>

	<div style="text-align: center; height: 10%; margin-top: 5%">
		<ion-button *ngIf="!seenAll && swiped" color="success" style="height: 100%" disabled>Finish</ion-button>
		<ion-button *ngIf="seenAll" color="success" style="height: 100%" (click)="finished.emit()">Finish</ion-button>
	</div>

</ion-content>