<ion-content [ngClass]="{'default': !showFeedback(), 'success': showFeedback() && slideInfo[currentSlide].stage == Stage.CORRECT, 'failure': showFeedback() && slideInfo[currentSlide].stage == Stage.INCORRECT}">

  <ion-progress-bar style="margin-top: 0px" value={{progressPercent}}></ion-progress-bar>

  <ion-slides #slideElement (ionSlideNextStart)="changeSlide()">

    <ion-slide *ngFor="let slide of slideInfo; let si = index" style="text-align: center; height: 100%; width: 100%; display: block">

      <br>
      <h3 *ngIf="!showFeedback()">Who is <b>{{slideInfo[si].correctName}}</b>?</h3>
      <h3 *ngIf="showFeedback() && slideInfo[si].stage == Stage.CORRECT">Correct!</h3>
      <h3 *ngIf="showFeedback() && slideInfo[si].stage == Stage.INCORRECT">Incorrect!</h3>
  
      <br>
  
      <ion-grid>
  
        <ion-row>
  
          <ion-col *ngFor="let item of [].constructor(3); let i = index">
            
            <ion-card [button]="!showFeedback()" (click)="chooseFace(slideInfo[currentSlide].faces[i])" [ngClass]="{'selected-card': showSelected(i), 'disabled-card': showDisabled(i)}">
              <img [src]="slideInfo[currentSlide].faces[i]"/>
            </ion-card>
  
            <div style="height: 25px; color: white">{{getName(i)}}</div>
          
          </ion-col>
  
        </ion-row>
        <ion-row>
  
          <ion-col *ngFor="let item of [].constructor(3); let i = index">
            
            <ion-card [button]="!showFeedback()" (click)="chooseFace(slideInfo[currentSlide].faces[i + 3])" [ngClass]="{'selected-card': showSelected(i + 3), 'disabled-card': showDisabled(i + 3)}">
              <img [src]="slideInfo[currentSlide].faces[i + 3]"/>
            </ion-card>
            
            <div style="height: 25px; color: white">{{getName(i + 3)}}</div>
          
          </ion-col>
  
        </ion-row>
  
      </ion-grid>
  
      <br>
  
      <ion-item class="footer" lines="none">
        <ion-label>Swipe to Continue</ion-label>
        <ion-icon slot="end" color="medium" name="arrow-forward" style="margin-top: 10px"></ion-icon>    
      </ion-item>
        
    </ion-slide>

    <ion-slide>
      <app-score-page [score]="score" (finished)="finished.emit([score, $event])"></app-score-page>
    </ion-slide>

  </ion-slides>

</ion-content>