<ion-content [ngClass]="{'default-card': !showFeedback(), 'success-card': showFeedback() && stage == Stage.CORRECT, 'failure-card': showFeedback() && stage == Stage.INCORRECT}">

  <ion-progress-bar style="margin-top: 0px" value={{progressPercent}}></ion-progress-bar>

  <div *ngIf="progress < 8" style="text-align: center">

    <br>
    <h3 *ngIf="!showFeedback()">Who is <b>{{currentName}}</b>?</h3>
    <h3 *ngIf="stage == Stage.CORRECT">Correct!</h3>
    <h3 *ngIf="stage == Stage.INCORRECT">Incorrect!</h3>

    <br>

    <ion-grid>

      <ion-row>

        <ion-col *ngFor="let item of [].constructor(3); let i = index">
          
          <ion-card [button]="!showFeedback()" (click)="chooseFace(shuffledFaces[i])" [ngClass]="{'selected-card': showSelected(i), 'disabled-card': showDisabled(i)}">
            <img [src]="shuffledFaces[i]"/>
          </ion-card>

          <div style="height: 25px; color: white">{{getName(i)}}</div>
        
        </ion-col>

      </ion-row>
      <ion-row>

        <ion-col *ngFor="let item of [].constructor(3); let i = index">
          
          <ion-card [button]="!showFeedback()" (click)="chooseFace(shuffledFaces[i + 3])" [ngClass]="{'selected-card': showSelected(i + 3), 'disabled-card': showDisabled(i + 3)}">
            <img [src]="shuffledFaces[i + 3]"/>
          </ion-card>
          
          <div style="height: 25px; color: white">{{getName(i + 3)}}</div>
        
        </ion-col>

      </ion-row>

    </ion-grid>

    <br>

    <ion-button *ngIf="!showFeedback()" disabled style="width:130px">Next</ion-button>
    <ion-button *ngIf="showFeedback()" (click)="nextFace()" style="width:130px">Next</ion-button>

  </div>

  <div *ngIf="progress > 7" style="text-align: center; color: white; margin-top: 150px">
    <h1>Your score: {{score}}/{{facePaths.length}}</h1>
    <h6 *ngIf="score <= 6" style="margin: 20px">You need a score of at least 6/8 to pass this module</h6>
    <ion-button [color]="score >= 6 ? 'success' : 'danger'" (click)="finished.emit(score)">Finish</ion-button>
  </div>

</ion-content>