ion-grid {
	height: 100% !important;

	ion-row {
		height: 33.33% !important;
		width: 100%;
		ion-col {
			width: auto;
			height: 100%;
		}
	}
}

.nametagButton {
	/*background-image: url("./../../assets/background_imgs/nametag.png"); */
	background-image: url("../../assets/background_imgs/nametag_blank.png");
	background-position: center;
	background-size: 100% 100%; /*width, height*/
	background-repeat: no-repeat;
}

.nametagText {
	padding-top: 30%; /*relative to WIDTH, not height, bc fuck me*/
	padding-bottom: 20%;
	margin: 0;

	font-weight: bold;
	color: dodgerblue;
}

.resultCard {
	height: 100px;
	background-image: url("../../assets/background_imgs/nametag.png");
	background-position: center;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.resultName {
	padding-top: 55px;
	font-size: large;
	font-weight: bold;
	color: dodgerblue;
}


ion-card {
	text-align: center;
	background-color: gainsboro;
	display: inline-block;
    margin: 0px;
    height: 90px;
    width: 67px;
}

h3 {
	text-align: center;
	color: white
}

p {
	color: white;
}

img {
    height: 80px;
    width: 60px;
    margin-left: 4px;
    margin-top: 5px;
}

.selected-card {
    background-color: gainsboro !important;
}

.disabled-card {
    background-color: transparent;
    opacity: 0.5;
}