<ion-content>
  <div style="text-align:center; margin-top: 180px" *ngIf="progress==0">
    <h1>Ready for training?</h1>
    <h4>For best results, please give yourself 10 minutes where you can study uninterrupted.</h4>
    <ion-button color="success" (click)="progress=1">Start</ion-button>
  </div>
  <!--Learning Task-->
  <app-learning-task *ngIf="progress==1" [setNames]="setNames" [facePaths] = "facePaths" (finished)="progress=2"></app-learning-task>
  <!--Name and Face-->
  <app-name-face *ngIf="progress==2" [setNames]="setNames" [facePaths] = "facePaths" (finished)="recordAndProgress($event)"></app-name-face>
  <!--Who's New?-->
  <app-whos-new *ngIf="progress==3" [setNames]="setNames" [facePaths] = "facePaths" (finished)="recordAndProgress($event)"></app-whos-new>
  <!--Memory Match-->
  <app-memory-match *ngIf="progress==4" [setNames]="setNames" [facePaths] = "facePaths" (finished)="recordAndProgress($event)"></app-memory-match>
  <!--Shuffle-->
  <app-shuffle *ngIf="progress==5" [setNames]="setNames" [facePaths] = "facePaths" (finished)="recordAndProgress($event)"></app-shuffle>
  <!--Forced Choice-->
  <app-forced-choice *ngIf="progress==6" [setNames]="setNames" [facePaths] = "facePaths" (finished)="recordAndProgress($event)"></app-forced-choice>
  <!--Same-Different-->
  <app-same-different *ngIf="progress==7" [setNames]="setNames" [facePaths] = "facePaths" (finished)="recordAndProgress($event)"></app-same-different>
  <div style="text-align:center" *ngIf="progress==8">
    <h1>You're All Done!</h1>
    <h4>Come back tomorrow for your next training.</h4>
  </div>
  <div style="text-align:center">
    <h3 style=color:red>For Development Only</h3>
    <ion-button (click)="progress=1">Learning</ion-button>
    <ion-button (click)="progress=2">Name and Face</ion-button>
    <ion-button (click)="progress=3">Who's New</ion-button>
    <ion-button (click)="progress=4">Memory</ion-button>
    <ion-button (click)="progress=5">Shuffle</ion-button>
    <ion-button (click)="progress=6">Forced Choice</ion-button>
    <ion-button (click)="progress=7">Same Different</ion-button>
    <div>Name and Face: {{scores[0]}}</div>
    <div>Who's New: {{scores[1]}}</div>
    <div>Memory: {{scores[2]}}</div>
    <div>Shuffle: {{scores[3]}}</div>
    <div>Forced Choice: {{scores[4]}}</div>
    <div>Same Different: {{scores[5]}}</div>
  </div>
</ion-content>
