<!--<ion-header>
  <ion-toolbar>
    <ion-title>
      Modules
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Practice Modules</ion-label>
      </ion-list-header>
      <ion-item href="">
        <ion-icon slot="start" color="medium" name="happy"></ion-icon>
        <ion-label>Name and Face</ion-label>
      </ion-item>
      <ion-item href="">
        <ion-icon slot="start" color="medium" name="person-add"></ion-icon>
        <ion-label>Who's New?</ion-label>
      </ion-item>
      <ion-item href="">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Memory Match</ion-label>
      </ion-item>
      <ion-item href="">
        <ion-icon slot="start" color="medium" name="swap"></ion-icon>
        <ion-label>Shuffle</ion-label>
      </ion-item>
    </ion-list>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Testing Modules</ion-label>
      </ion-list-header>
      <ion-item href="">
        <ion-icon slot="start" color="medium" name="checkmark-circle"></ion-icon>
        <ion-label>Forced Choice</ion-label>
      </ion-item>
      <ion-item href="">
        <ion-icon slot="start" color="medium" name="contacts"></ion-icon>
        <ion-label>Same Different</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
-->
<ion-content>
  <div style="text-align:center" *ngIf="progress==0">
    <h1>Ready for training?</h1>
    <h4>For best results, please give yourself 10 minutes where you can study uninterrupted.</h4>
    <ion-button color="success" (click)="progress=1">Start</ion-button>
  </div>
  <!--Learning Task-->
  <app-learning-task *ngIf="progress==1" (finished)="progress=2"></app-learning-task>
  <h1 *ngIf="progress>1">LEARNING TASK COMPLETED!</h1>
  <!--Name and Face-->
  <!--<app-learning-task *ngIf="progress==2"></app-learning-task>-->
  <!--Who's New?-->
  <!--<app-learning-task *ngIf="progress==3"></app-learning-task>-->
  <!--Memory Match-->
  <!--<app-learning-task *ngIf="progress==4"></app-learning-task>-->
  <!--Shuffle-->
  <!--<app-learning-task *ngIf="progress==5"></app-learning-task>-->
  <!--Forced Choice-->
  <!--<app-learning-task *ngIf="progress==6"></app-learning-task>-->
  <!--Same-Different-->
  <!--<app-learning-task *ngIf="progress==7"></app-learning-task>-->
</ion-content>
