.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.task-done {
  --background: #A9F5A9 !important;
  color: black;
}

ion-card {
  --background: gainsboro;
  color: dodgerblue;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 75%;
  cursor: pointer;
}