<ion-content [fullscreen]="true" style="--background: gray;">

  <app-login *ngIf="!loggedIn" (finished)="loggedIn = true"></app-login>

  <div *ngIf="loggedIn">

    <ion-header>
      <ion-toolbar style="border-bottom-width: medium; border-bottom-style: solid; border-bottom-color: dodgerblue">
        <ion-title>Dashboard</ion-title>
        <ion-icon slot="end" color="medium" name="exit" style="margin-right: 10px; height: 30px; cursor: pointer" (click)="logoutAlert()"></ion-icon>
        <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <h1><b>Welcome, {{username}}</b></h1>

    <ion-grid>

      <ion-row>

        <div style="text-align: center">
          <h6 style="color: white">Today's Progress</h6>
          <ion-progress-bar value={{progressToday}}></ion-progress-bar>
          <div style="text-align: center; color: white; margin-top: 10px">{{progressToday * 100}}%</div>
        </div>

        <ion-col>
          <ion-button color="success" routerLink="/train" routerDirection="forward" style="width: 100%; height: 150px; font-size: 150%">
            <div>Train</div>
            <ion-icon name="fitness"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>
      <ion-row>

        <ion-col>
          <h1>Level {{level}}</h1>
        </ion-col>

        <ion-col>
          <ion-button routerLink="/history" routerDirection="forward" style="width: 100%; height: 150px; font-size: 150%">
            <div>History</div>
            <ion-icon name="analytics"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>

    </ion-grid>

  </div>

</ion-content>