<ion-content [fullscreen]="true" style="--background: gray;">

  <app-login *ngIf="!loggedIn" (finished)="loggedIn = true"></app-login>

  <div *ngIf="loggedIn">

    <ion-header>
      <ion-toolbar style="border-bottom-width: medium; border-bottom-style: solid; border-bottom-color: dodgerblue">
        <ion-title>Dashboard</ion-title>
        <ion-icon slot="end" color="medium" name="exit" style="margin-right: 10px; height: 30px; cursor: pointer" (click)="logoutAlert()"></ion-icon>
        <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <div style="margin-left: 3vw">
      <!--<h1><b>{{username}}</b></h1>-->
      <h1><b>Level: {{level}}</b></h1>
      <div>
        <h6 style="color: white">Current Progress: {{progressToday * 100}}%</h6>
        <ion-progress-bar style="width: 80%" value={{progressToday}}></ion-progress-bar>
      </div>

      <ion-button color="success" routerLink="/train" routerDirection="forward">
        <ion-label slot="start">Train</ion-label>
        <ion-icon slot="end" name="fitness"></ion-icon>
      </ion-button>

      <ion-button color="primary" routerLink="/history" routerDirection="forward">
        <ion-label slot="start">History</ion-label>
        <ion-icon slot="end" name="analytics"></ion-icon>
      </ion-button>
    </div>

  </div>

</ion-content>