<ion-content [ngClass]="{'default': !showFeedback(), 'success': showFeedback() && slideInfo[currentSlide].stage == Stage.CORRECT, 'failure': showFeedback() && slideInfo[currentSlide].stage == Stage.INCORRECT}">

  <ion-progress-bar style="margin-top: 0px" value={{progressPercent}}></ion-progress-bar>

  <span *ngIf="!scoreCardDisplayed()">
    <div class="score-banner"><b>Score: {{score}}/{{progressPercent * taskLength}}</b></div>
    <div class="score-change" style="right: 12vw">+{{changeScoreValue}}</div>
  </span>

  <div *ngIf="slideInfo[currentSlide].stage == Stage.START" (click)="startMemorizeTimer()" class="overlay" button>
    <div class="overlay-content">
      Click anywhere to reveal
    </div>
  </div>

  <ion-slides #slideElement (ionSlideDidChange)="changeSlide()">

    <ion-slide *ngFor="let slide of slideInfo; let slideIndex = index" class="flex-slide">

      <div class="prompt-small" *ngIf="slideInfo[slideIndex].stage == Stage.START">Memorize the face placement: {{memorizeTime}}</div>
      <div class="prompt-small" *ngIf="slideInfo[slideIndex].stage == Stage.MEMORIZE">Memorize the face placement: <span class="time-left">{{timeRemaining}}</span></div>
      <div class="prompt-small" *ngIf="slideInfo[slideIndex].stage == Stage.MASK">Hold the faces in your mind...</div>
      <div class="prompt-small" *ngIf="slideInfo[slideIndex].stage == Stage.SELECT">Rearrange the faces</div>
      <div class="prompt-small" *ngIf="slideInfo[slideIndex].stage == Stage.CORRECT">Correct!</div>
      <div class="prompt-small" *ngIf="slideInfo[slideIndex].stage == Stage.INCORRECT">Incorrect!</div>

      <!--<ion-reorder-group (ionItemReorder)="$event.detail.complete();" disabled="false">
        <ion-reorder style="width: 45%; display: inline-block">
          <ion-card (click)="clickCard(0)" [button]="slideInfo[slideIndex].stage == Stage.SELECT" class="grid-card" [ngClass]="{'selected-card': slideInfo[slideIndex].stage != Stage.START && getSrc(0) == slideInfo[slideIndex].selectedFace, 'wrong-card': slideInfo[slideIndex].stage == Stage.INCORRECT && slideInfo[slideIndex].feedback && slideInfo[slideIndex].shuffledOrder[0] != slideInfo[slideIndex].correctOrder[0]}">
            <img *ngIf="slideInfo[slideIndex].stage != Stage.START" [src]="getSrc(0)"/>
          </ion-card>
        </ion-reorder>

        <ion-reorder style="width: 45%; display: inline-block">
          <ion-card (click)="clickCard(1)" [button]="slideInfo[slideIndex].stage == Stage.SELECT" class="grid-card" [ngClass]="{'selected-card': slideInfo[slideIndex].stage != Stage.START && getSrc(1) == slideInfo[slideIndex].selectedFace, 'wrong-card': slideInfo[slideIndex].stage == Stage.INCORRECT && slideInfo[slideIndex].feedback && slideInfo[slideIndex].shuffledOrder[1] != slideInfo[slideIndex].correctOrder[1]}">
            <img *ngIf="slideInfo[slideIndex].stage != Stage.START" [src]="getSrc(1)"/>
          </ion-card>
        </ion-reorder>

        <ion-reorder style="width: 45%; display: inline-block">
          <ion-card (click)="clickCard(2)" [button]="slideInfo[slideIndex].stage == Stage.SELECT" class="grid-card" [ngClass]="{'selected-card': slideInfo[slideIndex].stage != Stage.START && getSrc(2) == slideInfo[slideIndex].selectedFace, 'wrong-card': slideInfo[slideIndex].stage == Stage.INCORRECT && slideInfo[slideIndex].feedback && slideInfo[slideIndex].shuffledOrder[2] != slideInfo[slideIndex].correctOrder[2]}">
            <img *ngIf="slideInfo[slideIndex].stage != Stage.START" [src]="getSrc(2)"/>
          </ion-card>
        </ion-reorder>

        <ion-reorder style="width: 45%; display: inline-block">
          <ion-card (click)="clickCard(3)" [button]="slideInfo[slideIndex].stage == Stage.SELECT" class="grid-card" [ngClass]="{'selected-card': slideInfo[slideIndex].stage != Stage.START && getSrc(3) == slideInfo[slideIndex].selectedFace, 'wrong-card': slideInfo[slideIndex].stage == Stage.INCORRECT && slideInfo[slideIndex].feedback && slideInfo[slideIndex].shuffledOrder[3] != slideInfo[slideIndex].correctOrder[3]}">
            <img *ngIf="slideInfo[slideIndex].stage != Stage.START" [src]="getSrc(3)"/>
          </ion-card>
        </ion-reorder>
      </ion-reorder-group>-->

      <div>

        <div>
          <ion-card id="card-0" [button]="slideInfo[slideIndex].stage == Stage.SELECT" class="grid-card" (click)="clickCard(0)" [ngClass]="{'selected-card': slideInfo[slideIndex].stage != Stage.START && getSrc(0) == slideInfo[slideIndex].selectedFace, 'wrong-card': slideInfo[slideIndex].stage == Stage.INCORRECT && slideInfo[slideIndex].feedback && slideInfo[slideIndex].shuffledOrder[0] != slideInfo[slideIndex].correctOrder[0]}">
            <img *ngIf="slideInfo[slideIndex].stage != Stage.START" [src]="getSrc(0)"/>
          </ion-card>

          <ion-card id="card-1" [button]="slideInfo[slideIndex].stage == Stage.SELECT" class="grid-card" (click)="clickCard(1)" [ngClass]="{'selected-card': slideInfo[slideIndex].stage != Stage.START && getSrc(1) == slideInfo[slideIndex].selectedFace, 'wrong-card': slideInfo[slideIndex].stage == Stage.INCORRECT && slideInfo[slideIndex].feedback && slideInfo[slideIndex].shuffledOrder[1] != slideInfo[slideIndex].correctOrder[1]}">
            <img *ngIf="slideInfo[slideIndex].stage != Stage.START" [src]="getSrc(1)"/>
          </ion-card>
        </div>

        <div>
          <ion-card id="card-2" [button]="slideInfo[slideIndex].stage == Stage.SELECT" class="grid-card" (click)="clickCard(2)" [ngClass]="{'selected-card': slideInfo[slideIndex].stage != Stage.START && getSrc(2) == slideInfo[slideIndex].selectedFace, 'wrong-card': slideInfo[slideIndex].stage == Stage.INCORRECT && slideInfo[slideIndex].feedback && slideInfo[slideIndex].shuffledOrder[2] != slideInfo[slideIndex].correctOrder[2]}">
            <img *ngIf="slideInfo[slideIndex].stage != Stage.START" [src]="getSrc(2)"/>
          </ion-card>

          <ion-card id="card-3" [button]="slideInfo[slideIndex].stage == Stage.SELECT" class="grid-card" (click)="clickCard(3)" [ngClass]="{'selected-card': slideInfo[slideIndex].stage != Stage.START && getSrc(3) == slideInfo[slideIndex].selectedFace, 'wrong-card': slideInfo[slideIndex].stage == Stage.INCORRECT && slideInfo[slideIndex].feedback && slideInfo[slideIndex].shuffledOrder[3] != slideInfo[slideIndex].correctOrder[3]}">
            <img *ngIf="slideInfo[slideIndex].stage != Stage.START" [src]="getSrc(3)"/>
          </ion-card>
        </div>

      </div>

      <div style="text-align: center; height: 10%; width: 100%">
        <ion-button *ngIf="slideInfo[slideIndex].stage == Stage.SELECT" (click)="clickDone()">Done</ion-button>
        <ion-grid *ngIf="slideInfo[slideIndex].stage == Stage.INCORRECT" style="--background: transparent; height: 60%" lines="none">
          <ion-row>
            <ion-col>
              <span style="color: white">Correct</span>
            </ion-col>
            <ion-col>
              <ion-toggle [(ngModel)]="slideInfo[slideIndex].feedback" (click)="animateCardChange()"></ion-toggle>
            </ion-col>
            <ion-col>
              <span style="color: white">Selected</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <ion-item class="footer" lines="none">
        <ion-label>Swipe to Continue</ion-label>
        <ion-icon slot="end" color="dark" name="arrow-back"></ion-icon>    
      </ion-item>

    </ion-slide>

    <!--Score page-->
    <ion-slide>
      <app-score-page [score]="score" [length]="taskLength" [assessment]="false" (finished)="finish($event)"></app-score-page>
    </ion-slide>

  </ion-slides>

</ion-content>
