.selected-card {
    background-color: dodgerblue !important;
}

.wrong-card {
    background-color: transparent !important;
}

ion-card {
    text-align: center;
    background-color:gainsboro;
}

img {
    height: 95px;
    width: 70px;
    margin: 15px auto;
}

h5 {
    text-align: center;
    color: white;
}