.success {
    --background: #01DF74;
}

.failure {
    --background: #FE2E2E;
}

.default {
    --background: gray
}

.selected-card {
    background-color: dodgerblue !important;
}

.wrong-card {
    background-color: transparent !important;
}

.grid-card {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 15px;
}

ion-card {
    text-align: center;
    background-color:gainsboro;
    height: 125px;
    width: 100px;
}

img {
    height: 95px;
    width: 70px;
    margin: 15px auto;
}

h5 {
    text-align:center;
    color: white;
}