<ion-header>
  <ion-toolbar>
    <ion-title>About Us</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: gray">
  <div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ligula urna, mollis at mauris eget, laoreet dictum libero. Sed justo massa, bibendum dapibus lorem eu, semper rutrum enim. Vivamus nec nibh ut enim vehicula dictum. Cras id tempus mi, a semper lorem. Sed pretium orci in ligula malesuada pulvinar. Etiam non blandit enim, a suscipit augue. In venenatis porttitor sapien id congue. Maecenas vehicula nisl egestas, condimentum leo nec, dapibus ex. Suspendisse nec congue nulla. Praesent molestie ac est sed scelerisque. Etiam enim neque, mattis id urna quis, accumsan scelerisque velit. Proin at rutrum ipsum.
  </div>
  <div>
    Donec lobortis tristique vestibulum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras volutpat vitae sem id feugiat. Duis tincidunt turpis vel nibh sagittis scelerisque. Aenean non ipsum ut mi auctor laoreet in id lacus. Curabitur sapien nisl, vulputate eget quam id, facilisis volutpat mi. Aenean scelerisque convallis varius.
  </div>
  <div>
    Integer quis cursus ante. Suspendisse bibendum mauris eget massa eleifend, suscipit fringilla massa hendrerit. Pellentesque scelerisque in mi tempor placerat. Mauris at diam ac magna efficitur suscipit. Pellentesque eu orci eget lacus fermentum lobortis non et quam. Nulla eget risus non nisi hendrerit pharetra non tempor quam. Nullam in maximus orci. Proin eu enim tincidunt, scelerisque libero eu, tristique lacus. Vestibulum ac diam id metus lacinia porta ut a quam. Duis lacinia ligula at sem condimentum, eu iaculis dolor hendrerit. Sed ipsum orci, accumsan sed purus at, laoreet pretium turpis. Maecenas in orci non libero ultrices suscipit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque non consectetur tellus, id fringilla tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id malesuada mi.
  </div>
</ion-content>
