<ion-header>
  <ion-toolbar color = "dark">
    <ion-title>About Us</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: rgb(34,31,32)">
  <h1>About</h1>
  <div>
    This app represents a collaboration between two groups: a group of researchers in the psychology department and a group of very talented students in the computer science program at the University of Colorado.
  </div>
  <div>
    Joshua Correll and Balbir Singh study visual processing. They focused on what may be the most important visual stimulus in human life: the face. They explore the way that cues like race and gender influence face processing as well as the idea that our reactions to unfamiliar kinds of faces can change as we gain experience. For more information about the researchers, visit their <a style="color: white; text-decoration: none" href="http://psych.colorado.edu/~jclab"><b>website</b></a>.</div>
  <div>
    The programmers are a team of senior students who designed and built this app as a senior capstone project. Their talent, creativity, and hard work are responsible for everything you see, here. Alex Sandridge, Ann Marie Mahon, Garrison Lee, Han Yin, Kakam Chen, Keyu Wu, and Connor Dowd.
  </div>
</ion-content>
