<ion-content [ngClass]="{'default': !isFeedback(), 'success': stage == Stage.CORRECT, 'failure': stage == Stage.INCORRECT}">
  
  <div *ngIf="stage != Stage.DONE" style="text-align: center;">

    <ion-card button="true" (click)="clickCard()" style="cursor: pointer">
      <h3 *ngIf="stage == Stage.MEMORIZE">Memorize the face</h3>
      <h3 *ngIf="stage == Stage.SELECT">Is this the same person?</h3>
      <h3 *ngIf="stage == Stage.CORRECT">Correct!</h3>
      <h3 *ngIf="stage == Stage.INCORRECT">Incorrect!</h3>
      <img [src]="stage == Stage.MEMORIZE ? currentFace : randomFace" style="height:270px; width:190px; margin: 20px auto;"/>
    </ion-card>

    <ion-button *ngIf="stage == Stage.SELECT" style="width:130px" (click)="selectFace(false)" color="danger">No</ion-button>
    <ion-button *ngIf="stage == Stage.SELECT" style="width:130px" (click)="selectFace(true)" color="success">Yes</ion-button>
    <ion-button *ngIf="stage == Stage.MEMORIZE || isFeedback()" style="width:130px" (click)="clickCard()">Next</ion-button>

  </div>

  <div *ngIf="stage == Stage.DONE" style="text-align: center; color: white; margin-top: 180px">
    <h1>Your score: {{score}}/{{setNames.length}}</h1>
    <ion-button color="success" (click)="finished.emit(score)">Finish</ion-button>
  </div>

</ion-content>
