h3 {
    text-align: center;
    color: white;
}

.swipe-card {
    background-color:gainsboro;
    margin-bottom: 20px;
    margin-top: 15px;
    height: 310px;
    z-index: 0;
}

.swipe-footer {
	margin-bottom: 0px;
	opacity: 0;
    background: transparent;
}