.swipe-card {
    background-color: gainsboro;
    height: 310px;
    width: 270px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.swipe-footer {
	opacity: 0;
    background: transparent;
    width: 100%;
}