<ion-content [ngClass]="{'default': !isFeedback(), 'success': stage == Stage.CORRECT, 'failure': stage == Stage.INCORRECT}">

  <div *ngIf="stage != Stage.DONE">

    <!--Memorizing the face-->
    <div *ngIf="stage == Stage.MEMORIZE || stage == Stage.MASK">
      <ion-card button="true" (click)="startMaskTimer()">
        <h3 *ngIf="stage == Stage.MEMORIZE" style="color: dodgerblue;">Memorize the face</h3>
        <h3 *ngIf="stage == Stage.MASK" style="color: dodgerblue;">Hold the face in your mind</h3>
        <img style="height:260px; width:180px; margin: 20px auto;" [src]="stage == Stage.MEMORIZE ? currentFace : null"/>
      </ion-card>
    </div>

    <!--Choosing the face and feedback-->
    <div *ngIf="stage != Stage.MEMORIZE && stage != Stage.MASK" style="color:white; text-align:center; font-size:120%">

      <h3 *ngIf="stage == Stage.SELECT">Who did you see?</h3>
      <h3 *ngIf="stage == Stage.CORRECT">Correct!</h3>
      <h3 *ngIf="stage == Stage.INCORRECT">Incorrect!</h3>

      <ion-grid>

        <ion-row>

          <ion-col>
            <ion-card (click)="isFeedback() ? nextFace() : selectFace(randomFaces[0])" button="true" style="display: inline-block; margin-bottom: 20px; margin-top: 15px" [ngClass]="{'selected-card': isFeedback() && randomFaces[0] != currentFace && randomFaces[0] == selectedFace, 'disabled-card': isFeedback() && randomFaces[0] != currentFace}">
              <img [src]="randomFaces[0]" style="height:100px; width:75px; margin: 15px"/>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card (click)="isFeedback() ? nextFace() : selectFace(randomFaces[1])" button="true" style="display: inline-block; margin-bottom: 20px; margin-top: 15px" [ngClass]="{'selected-card': isFeedback() && randomFaces[1] != currentFace && randomFaces[1] == selectedFace, 'disabled-card': isFeedback() && randomFaces[1] != currentFace}">
              <img [src]="randomFaces[1]" style="height:100px; width:75px; margin: 15px"/>
            </ion-card>
          </ion-col>

        </ion-row>
        <ion-row>

          <ion-col>
            <ion-card (click)="isFeedback() ? nextFace() : selectFace(randomFaces[2])" button="true" style="display: inline-block; margin-bottom: 20px; margin-top: 15px" [ngClass]="{'selected-card': isFeedback() && randomFaces[2] != currentFace && randomFaces[2] == selectedFace, 'disabled-card': isFeedback() && randomFaces[2] != currentFace}">
              <img [src]="randomFaces[2]" style="height:100px; width:75px; margin: 15px"/>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card (click)="isFeedback() ? nextFace() : selectFace(randomFaces[3])" button="true" style="display: inline-block; margin-bottom: 20px; margin-top: 15px" [ngClass]="{'selected-card': isFeedback() && randomFaces[3] != currentFace && randomFaces[3] == selectedFace, 'disabled-card': isFeedback() && randomFaces[3] != currentFace}">
              <img [src]="randomFaces[3]" style="height:100px; width:75px; margin: 15px"/>
            </ion-card>
          </ion-col>

        </ion-row>

      </ion-grid>

    </div>

    <!--Next Buttons-->
    <div style="text-align: center; margin-bottom: 15px">
      <ion-button *ngIf="stage == Stage.MEMORIZE" style="width:130px" (click)="startMaskTimer()">Next</ion-button>
      <ion-button *ngIf="stage == Stage.SELECT" style="width:130px" disabled="true">Next</ion-button>
      <ion-button *ngIf="isFeedback()" style="width:130px" (click)="nextFace()">Next</ion-button>
    </div>

  </div>

  <!--Score page-->
  <div *ngIf="stage == Stage.DONE" style="text-align: center; color: white; margin-top: 180px">
    <h1>Your score: {{score}}/{{setNames.length}}</h1>
    <ion-button color="success" (click)="finished.emit(score)">Finish</ion-button>
  </div>

</ion-content>
