ion-item {
    --background: dodgerblue;
}

div {
    color: white;
    text-align: center;
}

img {
    height: 225px;
    margin: 0 auto;
    width: auto;
}

.swipe-card {
    margin-top: 5px;
    text-align: center;
    height: 400px;
}