<ion-content style="--background: dodgerblue; --color: white">
  <ion-item lines="none" style="margin-top: 15px; text-align: center; --background: dodgerblue; --color: white">
    <ion-label>
      <b>{{task}}</b>
    </ion-label>
    <ion-icon slot="start" color="dark" name="close" style="visibility: hidden"></ion-icon>
    <ion-icon slot="end" color="dark" name="close" style="margin-right: 10px; cursor: pointer; font-size: 200%" (click)="closeModal()"></ion-icon>
  </ion-item>
  <ion-card (swipeleft)="onSwipeLeft($event)" (swiperight)="onSwipeRight($event)" style="margin-top: 5px; text-align: center; height: 400px"><!--[@cardAnimator]="animationState" (@cardAnimator.done)="resetAnimationState()"-->
    <div *ngFor="let slide of slides; let i = index">
      <div *ngIf="currentSlide == i" style="margin-top: 20px">
        <img [src]="slide[0]">
        <div style="display: flex; align-items: center; height: 125px; color: white; margin: 20px; font-size: 120%">{{slide[1]}}</div>
      </div>
    </div>
  </ion-card>
  <div style="text-align: center">
    <span *ngFor="let slide of slides; let i = index" style="margin: 0 auto">
      <ion-icon *ngIf="currentSlide == i" color="dark" name="radio-button-on"></ion-icon>
      <ion-icon *ngIf="currentSlide != i" (click)="currentSlide = i" color="dark" name="radio-button-off"></ion-icon>
    </span>
  </div>
</ion-content>