<ion-content style="--background: dodgerblue; --color: white">
  <ion-item lines="none" style="margin-top: 15px; text-align: center; --background: dodgerblue; --color: white">
    <ion-label>
      <b>{{navParams.data.paramTask}}</b>
    </ion-label>
    <ion-icon slot="end" color="dark" name="close" style="margin-right: 10px; cursor: pointer; font-size: 200%" (click)="closeModal()"></ion-icon>
  </ion-item>
  <ion-card style="margin-top: 5px; text-align: center; height: 400px">
    <div *ngFor="let slide of slides; let i = index">
      <div *ngIf="currentSlide == i" style="margin-top: 10px">
        <img [src]="slide[0]" style="height: 225px; width: 150px; margin: 0 auto;">
        <ion-card-content *ngIf="currentSlide == i" style="color: white;">{{slide[1]}}</ion-card-content>
      </div>
    </div>
  </ion-card>
  <div style="text-align: center">
    <span *ngFor="let slide of slides; let i = index" style="margin: 0 auto">
      <ion-icon *ngIf="currentSlide == i" color="dark" name="radio-button-on"></ion-icon>
      <ion-icon *ngIf="currentSlide != i" (click)="currentSlide = i" color="dark" name="radio-button-off"></ion-icon>
    </span>
  </div>
</ion-content>