<ion-content id="login-view">
	<ion-grid style="margin-top: 45px">
		<ion-row *ngIf="popup == Popup.HOME" id="blank-row-default"></ion-row>
		<ion-row *ngIf="popup == Popup.WHY" id="blank-row-why"></ion-row>
		<ion-row *ngIf="popup == Popup.LOGIN" id="blank-row-login"></ion-row>
		<ion-row *ngIf="popup == Popup.REGISTER" id="blank-row-register"></ion-row>
		<ion-row *ngIf="popup == Popup.INVALID" id="blank-row-invalid"></ion-row>

		<ion-row *ngIf="popup == Popup.HOME" id="row-with-default-card">
			<ion-col offset=3 size=6>
				<ion-card id="default_card">
					<ion-grid>
						<ion-row>
							<ion-col class='button-col'>
								<ion-button (click)=Login() expand="block">
									<p>Log-in&nbsp;</p>
									<ion-icon [src]=login></ion-icon>
								</ion-button>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col class='button-col'>
								<ion-button (click)=Register() expand="block">
									<p>Register&nbsp;</p>
									<ion-icon name="create"></ion-icon>
								</ion-button>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col class='button-col'>
								<ion-button (click)=Why() expand="block">
									<p>Why&nbsp;</p>
									<ion-icon [name]=help></ion-icon>
								</ion-button>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-card>
			</ion-col>
		</ion-row>

		<ion-row *ngIf="popup == Popup.WHY" id="row-with-why-card">
			<ion-col offset=2 size=8>
				<ion-card id="why_card">
					<p id="why_msg">We understand it can be annoying to have to make an account for everything, nowadays. We hope you'll still consider doing so for our app. The Psychology Department at the University of Colorado, Boulder is collecting anonymous data to better understand Cross Race Recognition Deficit, and that data is associated with your login, which is why we need everyone to make an account. Thanks for understanding.</p>
					<ion-button (click)=BackHome() expand="block" class="back_but">
						<ion-icon name="arrow-back"></ion-icon>
						<p>Back&nbsp;</p>
					</ion-button>
				</ion-card>
			</ion-col>
		</ion-row>

		<ion-row *ngIf="popup == Popup.INVALID" id="row-with-invalid-card">
			<ion-col offset=2 size=8>
				<ion-card id="invalid_card">
					<p *ngIf="badmsg == BadMsg.DEFAULT" class="invalid_msg">You're seeing this message because something went wrong. Please go back and try again. Username must be a valid email.</p>
					<p *ngIf="badmsg == BadMsg.NO_ACCOUNT" class="invalid_msg">No such matching email and password combination exists in the database. Please make sure there were no typos and that you have already registered an account with us. Thank you!</p>
					<p *ngIf="badmsg == BadMsg.LOGINFORM" class="invalid_msg">Please ensure the username is a valid email, and that you have provided something for both fields. Thank you.</p>
					<p *ngIf="badmsg == BadMsg.EMPTYSELECTIONS" class="invalid_msg">Please ensure you have provided a value for each field in the register form. Thank you!</p>
					<p *ngIf="badmsg == BadMsg.PASSMISMATCH" class="invalid_msg">Please ensure you typed your password the same both times. Thank you!</p>
					<p *ngIf="badmsg == BadMsg.BADREGISTER" class="invalid_msg">The register form was invalid in some way. Please ensure username is a valid email, password(s) match and are at least 5 characters long, and that all fields have a value. Thank you!</p>
					<p *ngIf="badmsg == BadMsg.REG_HTTP_ERROR" class="invalid_msg">Something went wrong registering your account. Please try again later. Thank you!</p>
					<p *ngIf="badmsg == BadMsg.REGISTERED" class="invalid_msg">You have successfully registered an account with us! Please go ahead and try logging in now. Thank you!</p>
					<ion-button (click)=TryAgain() expand="block" class="back_but">
						<ion-icon name="arrow-back"></ion-icon>
						<p>Back&nbsp;</p>
					</ion-button>
				</ion-card>
			</ion-col>
		</ion-row>

		<ion-row *ngIf="popup == Popup.LOGIN" id="row-with-login-card">
			<ion-col offset=1 size=10>
				<ion-card id="login_card">
					<form [formGroup]="loginForm">
						<ion-item>
							<ion-label position="stacked">Username:</ion-label>
							<ion-input formControlName="username" placeholder="Username" type="email"></ion-input>
						</ion-item>
						<ion-item>
							<ion-label position="stacked">Password:</ion-label>
							<ion-input formControlName="password" placeholder="sTup1dPa55w0rd!"></ion-input>
						</ion-item>
					</form>
					<ion-button (click)=SubmitLogin() expand="block" id="login_but">
						<p>Submit&nbsp;</p>
					</ion-button>
					<ion-button (click)=BackHome() expand="block" class="back_but">
						<ion-icon name="arrow-back"></ion-icon>
						<p>Back&nbsp;</p>
					</ion-button>
				</ion-card>
			</ion-col>
		</ion-row>

		<ion-row *ngIf="popup == Popup.REGISTER" id="row-with-register-card">
			<ion-col offset=1 size=10>
				<ion-card id="register_card">
					<form [formGroup]="registerForm">
						<!--USERNAME-->
						<ion-item>
							<ion-label position="stacked">Username:</ion-label>
							<ion-input formControlName="username" placeholder="Username"></ion-input>
						</ion-item>
						<!--PASSWORD-->
						<ion-item>
							<ion-label position="stacked">Password:</ion-label>
							<ion-input formControlName="password" placeholder="sTup1dPa55w0rd!"></ion-input>
						</ion-item>
						<!--CONFIRM PASSWORD-->
						<ion-item>
							<ion-label position="stacked">Confirm Pswd:</ion-label>
							<ion-input formControlName="password_check" placeholder="sTup1dPa55w0rd!"></ion-input>
						</ion-item>
						<!--RACE-->
						<ion-item>
							<ion-label position="stacked">Race:</ion-label>
							<ion-select formControlName="race">
								<ion-select-option value="A1 Sauce">A1 Sauce</ion-select-option>
								<ion-select-option value="Mustard">Mustard</ion-select-option>
								<ion-select-option value="Ketchup">Ketchup</ion-select-option>
								<ion-select-option value="Catsup">Catsup</ion-select-option>
							</ion-select>
						</ion-item>
						<!--NATIONALITY-->
						<ion-item>
							<ion-label position="stacked">Nationality:</ion-label>
							<ion-select formControlName="nationality">
								<ion-select-option value="American">American</ion-select-option>
							</ion-select>
						</ion-item>
						<!--GENDER-->
						<ion-item>
							<ion-label position="stacked">Gender:</ion-label>
							<ion-select formControlName="gender">
								<ion-select-option value="Male">Male</ion-select-option>
								<ion-select-option value="Female">Female</ion-select-option>
								<ion-select-option value="Other">Other</ion-select-option>
							</ion-select>
						</ion-item>
						<!--AGE-->
						<ion-item>
							<ion-label position="stacked">Age:</ion-label>
							<ion-input formControlName="age" type="number" placeholder="37"></ion-input>
						</ion-item>
					</form>
					<ion-button (click)=SubmitRegister() expand="block" id="register_but">
						<p>Submit&nbsp;</p>
					</ion-button>
					<ion-button (click)=BackHome() expand="block" class="back_but">
						<ion-icon name="arrow-back"></ion-icon>
						<p>Back&nbsp;</p>
					</ion-button>
				</ion-card>
			</ion-col>
		</ion-row>

	</ion-grid>
	
	
</ion-content>

