#login-view {
	--height: 100vh;
	--width: auto;
	--background: white url("../../assets/background_imgs/splash.png") no-repeat center center / contain;
	background-repeat: no-repeat;
}

#blank-row-default {
	height: 25vh;
}
#blank-row-why {
	height: 15vh;
}
#blank-row-login {
	height: 20vh;
}
#blank-row-register {
	height: 2vh;
}
#blank-row-invalid {
	height: 20vh;
}

#row-with-default-card {
	height: 96%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
#row-with-why-card {
	height: 100%;
}
#row-with-login-card {
	height: 100%;
}
#row-with-register-card {
	height: 100%;
}
#row-with-invalid-card {
	height: 100%;
}

#default_card {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: gainsboro;
}
#why_card {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: gainsboro;
}

#register_card {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: gainsboro;
}
#invalid_card {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: gainsboro;
}
#invalid_login_card {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: gainsboro;
}

#why_msg {
	color: black;
	padding: 10px;
	margin: 0;
	text-align: center;
}

.invalid_msg {
	color: black;
	padding: 10px;
	margin: 0;
	text-align: center;
}

.button-col {
	padding: 0;
	margin: 0;
}

#login_but {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#register_but {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.back_but {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

ion-item {
	margin: 5px;
	margin: 5px;
	border-radius: 5px;
}

.invalid {
	--background: rgb(255, 209, 209)
}

.valid {
	--background: rgb(207, 253, 217)
}