<ion-content id="login-view">

	<div *ngIf="popup == Popup.HOME" id="row-with-default-card">
		<ion-button (click)=Login() style="height: 6%; width: 90%">Login</ion-button>
		<ion-button (click)=Register() fill="clear" style="height: 6%; width: 90%; color: dodgerblue">Register</ion-button>
	</div>

	<div *ngIf="popup == Popup.LOGIN" style="height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: white">
		<form [formGroup]="loginForm" style="width: 100%">
			<ion-item lines="none" [ngClass]="{'valid': fieldNotEmpty(loginForm.value.username) && !loginForm.controls.username.errors, 'invalid': fieldNotEmpty(loginForm.value.username) && loginForm.controls.username.errors}">
				<ion-input formControlName="username" placeholder="Email" type="email"></ion-input>
			</ion-item>
			<br>
			<ion-item lines="none" [ngClass]="{'valid': fieldNotEmpty(loginForm.value.password) && !loginForm.controls.password.errors, 'invalid': fieldNotEmpty(loginForm.value.password) && loginForm.controls.password.errors}">
				<ion-input formControlName="password" placeholder="Password" type="password"></ion-input>
			</ion-item>
		</form>
		<br><br><br>
		<div style="display: flex; justify-content: space-evenly; width: 100%">
			<ion-button (click)="BackHome(); resetForms()" fill="clear" style="width: 45%; height: 2rem" [disabled]="awaitLoginHTTP">Back</ion-button>
			<ion-button (click)=SubmitLogin() style="width: 45%; height: 2rem" [disabled]="awaitLoginHTTP">
				<span *ngIf="!awaitLoginHTTP">Login</span>
				<ion-spinner *ngIf="awaitLoginHTTP" slot="end" name="dots" style="size: 50%"></ion-spinner>
			</ion-button>
		</div>
	</div>	

	<div *ngIf="popup == Popup.REGISTER" style="height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: white">
		<form [formGroup]="registerForm" style="width: 100%">
			<!--USERNAME-->
			<ion-item lines="none" [ngClass]="{'valid': fieldNotEmpty(registerForm.value.username) && !registerForm.controls.username.errors, 'invalid': fieldNotEmpty(registerForm.value.username) && registerForm.controls.username.errors}">
				<ion-input formControlName="username" placeholder="Email"></ion-input>
			</ion-item>
			<!--PASSWORD-->
			<ion-item lines="none" [ngClass]="{'valid': fieldNotEmpty(registerForm.value.password) && !registerForm.controls.password.errors, 'invalid': fieldNotEmpty(registerForm.value.password) && registerForm.controls.password.errors}">
				<ion-input formControlName="password" placeholder="Password" type="password"></ion-input>
			</ion-item>
			<!--CONFIRM PASSWORD-->
			<ion-item lines="none" [ngClass]="{'valid': fieldNotEmpty(registerForm.value.password_check) && !registerForm.controls.password_check.errors && registerForm.value.password_check == registerForm.value.password, 'invalid': (fieldNotEmpty(registerForm.value.password) || fieldNotEmpty(registerForm.value.password_check)) && (registerForm.controls.password_check.errors || registerForm.value.password_check != registerForm.value.password)}">
				<ion-input formControlName="password_check" placeholder="Confirm Password" type="password"></ion-input>
			</ion-item>
			<br><br>
			<!--AGE-->
			<ion-item lines="none" [ngClass]="{'valid': fieldNotEmpty(registerForm.value.age) && !registerForm.controls.age.errors, 'invalid': fieldNotEmpty(registerForm.value.age) && registerForm.controls.age.errors}">
				<ion-input formControlName="age" type="number" placeholder="Age"></ion-input>
			</ion-item>
			<!--RACE-->
			<ion-item lines="none" [ngClass]="{'valid': fieldNotEmpty(registerForm.value.race) && !registerForm.controls.race.errors, 'invalid': fieldNotEmpty(registerForm.value.race) && registerForm.controls.race.errors}">
				<ion-label>Ethnicity</ion-label>
				<ion-select placeholder="Ethnicity" formControlName="race">
					<ion-select-option *ngFor="let race of raceList" value={{race}}>{{race}}</ion-select-option>
				</ion-select>
			</ion-item>
			<!--NATIONALITY-->
			<ion-item lines="none" [ngClass]="{'valid': fieldNotEmpty(registerForm.value.nationality) && !registerForm.controls.nationality.errors, 'invalid': fieldNotEmpty(registerForm.value.nationality) && registerForm.controls.nationality.errors}">
				<ion-label>Nationality</ion-label>
				<ion-select placeholder="Nationality" formControlName="nationality">
					<ion-select-option *ngFor="let nation of nationList" value={{nation}}>{{nation}}</ion-select-option>
				</ion-select>
			</ion-item>
			<!--GENDER-->
			<ion-item lines="none" [ngClass]="{'valid': fieldNotEmpty(registerForm.value.gender) && !registerForm.controls.gender.errors, 'invalid': fieldNotEmpty(registerForm.value.gender) && registerForm.controls.gender.errors}">
				<ion-label>Gender</ion-label>
				<ion-select placeholder="Gender" formControlName="gender">
					<ion-select-option *ngFor="let gender of genderList" value={{gender}}>{{gender}}</ion-select-option>
				</ion-select>
			</ion-item>
		</form>
		<br><br><br>
		<div style="display: flex; justify-content: space-evenly; width: 100%">
			<ion-button (click)="BackHome(); resetForms()" fill="clear" style="width: 45%; height: 2rem" [disabled]="awaitLoginHTTP">Back</ion-button>
			<ion-button (click)=SubmitRegister() style="width: 45%; height: 2rem" [disabled]="awaitLoginHTTP">
				<span *ngIf="!awaitRegisterHTTP">Register</span>
				<ion-spinner *ngIf="awaitRegisterHTTP" slot="end" name="dots" style="size: 50%"></ion-spinner>
			</ion-button>
		</div>
	</div>
	
</ion-content>

