<ion-content id="login-view">
	<ion-grid style="margin-top: 45px">
		<ion-row *ngIf="popup == Popup.HOME" id="blank-row-default"></ion-row>
		<ion-row *ngIf="popup == Popup.WHY" id="blank-row-why"></ion-row>
		<ion-row *ngIf="popup == Popup.LOGIN" id="blank-row-login"></ion-row>
		<ion-row *ngIf="popup == Popup.REGISTER" id="blank-row-register"></ion-row>

		<ion-row *ngIf="popup == Popup.HOME" id="row-with-default-card">
			<ion-col offset=3 size=6>
				<ion-card id="default_card">
					<ion-grid>
						<ion-row>
							<ion-col class='button-col'>
								<ion-button (click)=Login() expand="block">
									<p>Log-in&nbsp;</p>
									<ion-icon [src]=login></ion-icon>
								</ion-button>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col class='button-col'>
								<ion-button (click)=Register() expand="block">
									<p>Register&nbsp;</p>
									<ion-icon name="create"></ion-icon>
								</ion-button>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col class='button-col'>
								<ion-button (click)=Why() expand="block">
									<p>Why&nbsp;</p>
									<ion-icon [name]=help></ion-icon>
								</ion-button>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-card>
			</ion-col>
		</ion-row>

		<ion-row *ngIf="popup == Popup.WHY" id="row-with-why-card">
			<ion-col offset=2 size=8>
				<ion-card id="why_card">
					<p id="why_msg">We understand it can be annoying to have to make an account for everything, nowadays. We hope you'll still consider doing so for our app. The Psychology Department at the University of Colorado, Boulder is collecting anonymous data to better understand Cross Race Recognition Deficit, and that data is associated with your login, which is why we need everyone to make an account. Thanks for understanding.</p>
					<ion-button (click)=BackHome() expand="block" id="back_but">
						<ion-icon name="arrow-back"></ion-icon>
						<p>Back&nbsp;</p>
					</ion-button>
				</ion-card>
			</ion-col>
		</ion-row>

		<ion-row *ngIf="popup == Popup.LOGIN" id="row-with-login-card">
			<ion-col offset=1 size=10>
				<ion-card id="login_card">
					<ion-item>
						<ion-label position="stacked">Username:</ion-label>
						<ion-input placeholder="Username"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label position="stacked">Password:</ion-label>
						<ion-input placeholder="sTup1dPa55w0rd!"></ion-input>
					</ion-item>
					<ion-button (click)=SubmitLogin() expand="block" id="login_but">
						<p>Submit&nbsp;</p>
					</ion-button>
					<ion-button (click)=BackHome() expand="block" id="back_but">
						<ion-icon name="arrow-back"></ion-icon>
						<p>Back&nbsp;</p>
					</ion-button>
				</ion-card>
			</ion-col>
		</ion-row>

		<ion-row *ngIf="popup == Popup.REGISTER" id="row-with-register-card">
			<ion-col offset=1 size=10>
				<ion-card id="register_card">
					<ion-item>
						<ion-label position="stacked">Username:</ion-label>
						<ion-input placeholder="Username"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label position="stacked">Password:</ion-label>
						<ion-input placeholder="sTup1dPa55w0rd!"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label position="stacked">Confirm Pswd:</ion-label>
						<ion-input placeholder="sTup1dPa55w0rd!"></ion-input>
					</ion-item>
					<ion-button (click)=SubmitRegister() expand="block" id="register_but">
						<p>Submit&nbsp;</p>
					</ion-button>
					<ion-button (click)=BackHome() expand="block" id="back_but">
						<ion-icon name="arrow-back"></ion-icon>
						<p>Back&nbsp;</p>
					</ion-button>
				</ion-card>
			</ion-col>
		</ion-row>

	</ion-grid>
	
	
</ion-content>

