<div class="flex-slide">
  <div>
    <div class="header" style="color:white">Your score: {{score}}/{{length}}</div>
    <div *ngIf="failed()" class="subheader" style="margin: 5%">You need a score of at least {{length * minTrainScore}}/{{length}} ({{minTrainScore * 100}}%) to pass this module</div>
    <ion-button *ngIf="failed()" (click)="finished.emit(0)">Retry</ion-button>
    <ion-button *ngIf="failed()" (click)="finished.emit(1)">
      <ion-icon [src]=replay_icon></ion-icon>
      &nbsp;
      <ion-icon [src]=face_icon></ion-icon>
    </ion-button>
    <br>
    <ion-button [color]="!failed() ? 'success' : 'danger'" (click)="finished.emit(2)">Finish</ion-button>
  </div>
</div>