/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.time-left {
    display: inline-block;
}

.grid-card {
    display: inline-block;
    height: 125px;
    width: 100px;
    text-align: center;
    background-color: gainsboro;
    img {
        height: 95px;
        width: 70px;
        margin: 15px auto;
    }
}

.success {
    --background: #01DF74;
}

.failure {
    --background: #FE2E2E;
}

.default {
    --background: gray;
}

.selected-wrong-card {
    background-color: gainsboro !important;
}

.selected-card {
    background-color: dodgerblue !important;
}

.disabled-card {
    background-color: transparent;
    opacity: 0.5;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    color: white;
    background-color: dodgerblue;
    z-index: 100;
    opacity: 0;
}

.overlay-content {
    position: relative;
    top: 35%;
    width: 100%;
    text-align: center;
    font-size: 5vh;
    z-index: 100;
}

.prompt {
    font-size: 7vw;
    color: white;
    text-align: center;
    margin-top: 10%;
}

.prompt-small {
    font-size: 6vw;
    color: white;
    text-align: center;
    margin-top: 10%;
}

.footer {
	color: white;
	opacity: 0;
    --background: transparent;
    width: 100%;
}

.flex-slide {
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header {
    font-size: 10vw;
    color: white;
}

.subheader {
    font-size: 6vw;
    color: white;
}

ion-button {
    width: 45%;
    font-size: 5vw;
    color: white;
}

.score-banner {
    margin-top: 0px;
    right: 1vw;
    position: absolute;
    z-index: 3;
    padding: 2%;
    background-color: white;
    color: #374048;
    border-radius: 0px 0px 10px 10px;
    font-size: 4vw;
}

.score-change {
    margin-top: 0px;
    right: 9vw;
    position: absolute;
    z-index: 2;
    color: white;
    font-size: 5vw;
}