.task-done {
  --background: rgb(142, 207, 142) !important;
  color: black;
}

.task-failed {
  --background: rgb(201, 139, 139) !important;
  color: black;
}

.blue-border {
  border-bottom-width: medium;
  border-bottom-style: solid;
  border-bottom-color: rgb(206,183,124);
}

.level {
  display: inline-block;
}

.fade-in {
  display: inline-block;
  opacity: 0; 
}

ion-card {
  --background: gainsboro;
  color: rgb(206,183,124);
  border-radius: 6vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 2.2vh;
  height: 11vh;
}

ion-button {
  text-transform: none !important;
  height: 8vh;
  font-size: 3vh;
}