<ion-content style="--background: rgb(34,31,32); height: 100%">

  <ion-header>
    <ion-toolbar color = dark [ngClass]="{'blue-border' : task == null}">
      <ion-title>{{getTitle()}}</ion-title>
      <ion-buttons *ngIf="task == null" slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-icon *ngIf="task != null && task != Task.FORCED_CHOICE && task != Task.SAME_DIFFERENT && task != Task.PRETEST && task != Task.POSTTEST" slot="start" color="medium" name="arrow-back" style="margin-left: 1vw; height: 3vh" (click)="taskExitAlert()"></ion-icon>
      <ion-icon *ngIf="userLevel <= 9" slot="end" color="medium" name="help-circle" style="margin-right: 1vw; height: 3vh" (click)="getHelp(false)"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="stage == null" style="height: 90%; display: flex; justify-content: center; align-items: center">
    <ion-spinner name="crescent" color="light"></ion-spinner>
  </div>

  <div *ngIf="task == null" style="color: white; text-align: center">

    <!--Start Page-->
    <div *ngIf="stage == Stage.START" style="margin-top: 50%">
      <div *ngIf="userLevel > 0 && userLevel < 9">
        <div class="header" style="color:white;margin: 5%"><b>Level {{userLevel}}</b></div>
        <div class="subheader" style="margin: 5%">Are you ready to train?</div>
      </div>
      <div *ngIf="userLevel == 0">
        <div class="header" style = "color:white"><b>Pre-Assessment</b></div>
        <div class="subheader" style="margin: 5%">It looks like you're new, are you ready to begin your pretest?</div>
      </div>
      <div *ngIf="userLevel == 9">
        <div class="header" style="color: white;"><b>Post-Assessment</b></div>
        <div class="subheader" style="margin: 5%">It looks like you've completed all eight levels, are you ready to begin your post-test?</div>
      </div>
      <!--<h5>What would you like to train today?</h5>-->
      <br>
      <ion-button color="success" (click)="clickStart()">Start</ion-button>
      <!--<ion-button color="success" style="width: 45%" (click)="BlackFaces()">Black Faces</ion-button> //; finished_setRaceName()//
      <ion-button color="success" style="width: 45%" (click)="AsianFaces()">Asian Faces</ion-button>-->
    </div>

    <!--Learning tasks-->
    <div *ngIf="stage == Stage.TRAINING" style="margin-top: 20px">
      <div style="font-size: 6vw">What would you like to do next?</div>
      <!--<p style="font-size: small">{{titleMSG}}</p>-->

      <ion-card (click)="scores[Task.NAME_FACE] == -1 ? renderLevelOneHelp() : null; task = Task.NAME_FACE" button [ngClass]="{'task-done': scores[Task.NAME_FACE] >= taskLengths[Task.NAME_FACE] * minTrainScore, 'task-failed': scores[Task.NAME_FACE] > -1 && scores[Task.NAME_FACE] < taskLengths[Task.NAME_FACE] * minTrainScore}">
        <ion-icon slot="start" name="happy" style="font-size: 300%"></ion-icon>
        <div>Name and Face<span *ngIf="scores[Task.NAME_FACE] > -1">: {{scores[Task.NAME_FACE]}}/{{taskLengths[Task.NAME_FACE]}}</span></div>
      </ion-card>

      <ion-card (click)="scores[Task.WHOS_NEW] == -1 ? renderLevelOneHelp() : null; task = Task.WHOS_NEW" button [ngClass]="{'task-done': scores[Task.WHOS_NEW] >= taskLengths[Task.WHOS_NEW] * minTrainScore, 'task-failed': scores[Task.WHOS_NEW] > -1 && scores[Task.WHOS_NEW] < taskLengths[Task.WHOS_NEW] * minTrainScore}">
        <ion-icon slot="start" name="person-add" style="font-size: 300%"></ion-icon>
        <div>Who's New<span *ngIf="scores[Task.WHOS_NEW] > -1">: {{scores[Task.WHOS_NEW]}}/{{taskLengths[Task.WHOS_NEW]}}</span></div>
      </ion-card>

      <ion-card (click)="scores[Task.MEMORY] == -1 ? renderLevelOneHelp() : null; task = Task.MEMORY" button [ngClass]="{'task-done': scores[Task.MEMORY] >= taskLengths[Task.MEMORY] * minTrainScore, 'task-failed': scores[Task.MEMORY] > -1 && scores[Task.MEMORY] < taskLengths[Task.MEMORY] * minTrainScore}">
        <ion-icon slot="start" name="grid" style="font-size: 300%"></ion-icon>
        <div>Memory Match<span *ngIf="scores[Task.MEMORY] > -1">: {{scores[Task.MEMORY]}}/{{taskLengths[Task.MEMORY]}}</span></div>
      </ion-card>

      <ion-card (click)="scores[Task.SHUFFLE] == -1 ? renderLevelOneHelp() : null; task = Task.SHUFFLE" button [ngClass]="{'task-done': scores[Task.SHUFFLE] >= taskLengths[Task.SHUFFLE] * minTrainScore, 'task-failed': scores[Task.SHUFFLE] > -1 && scores[Task.SHUFFLE] < taskLengths[Task.SHUFFLE] * minTrainScore}">
        <ion-icon slot="start" name="swap" style="font-size: 300%"></ion-icon>
        <div>Shuffle<span *ngIf="scores[Task.SHUFFLE] > -1">: {{scores[Task.SHUFFLE]}}/{{taskLengths[Task.SHUFFLE]}}</span></div>
      </ion-card>

      <ion-button (click)="task = Task.LEARNING" style="padding: 0; margin: 1%">
        <ion-icon [src]=replay_icon></ion-icon>
        &nbsp;
        <ion-icon [src]=face_icon></ion-icon>
      </ion-button>

      <ion-button (click)="startAssessmentAlert()" style="padding: 0; margin: 1%" [disabled]="trainingNotDone()">
        <ion-icon [src]=assessment_icon ></ion-icon>
      </ion-button>

    </div>

    <!--Assessment tasks-->
    <div *ngIf="stage == Stage.ASSESSMENT" style="margin-top: 20px">
      <div style="font-size: 6vw">What would you like to do next?</div>

      <ion-card (click)="scores[4] == -1 ? task = Task.FORCED_CHOICE : null; renderLevelOneHelp()" button [ngClass]="{'task-done': scores[4] != -1}">
        <ion-icon slot="start" name="checkmark-circle" style="font-size: 300%"></ion-icon>
        <div>Forced Choice<span *ngIf="scores[4] > -1">: {{scores[Task.FORCED_CHOICE]}}/{{taskLengths[Task.FORCED_CHOICE]}}</span></div>
      </ion-card>

      <ion-card (click)="scores[5] == -1 ? task = Task.SAME_DIFFERENT : null; renderLevelOneHelp()" button [ngClass]="{'task-done': scores[5] != -1}">
        <ion-icon slot="start" name="contacts" style="font-size: 300%"></ion-icon>
        <div>Same Different<span *ngIf="scores[5] > -1">: {{scores[Task.SAME_DIFFERENT]}}/{{taskLengths[Task.SAME_DIFFERENT]}}</span></div>
      </ion-card>

    </div>

    <!--Done Page-->
    <div *ngIf="stage == Stage.DONE" style="margin-top: 40%">

      <div *ngIf="userLevel <= 9" style="display: flex; flex-direction: column; justify-content: center; align-items: center">

        <div class="header" style="color:white;margin: 5%"><b>Finished!</b></div>
        <ion-progress-bar style="width: 80%" value={{progress}}></ion-progress-bar>
        <div style="color:white;margin-top: 5%; font-size: 4vh">Level <span class="level">{{userLevel}}</span></div>

        <div *ngIf="userLevel == 1" class="fade-in">
          <div class="subheader" style="margin: 5%">You've entered level 1! Click to begin your training.</div>
          <ion-button color="success" (click)="initCurrentLevel()">Train</ion-button>
        </div>

        <div *ngIf="userLevel > 0 && userLevel < 9" class="fade-in">
          <div class="subheader" style="margin: 5%">You've moved on to the next level! Come back tomorrow for your next training.</div>
          <ion-button color="success" routerLink="/dashboard" routerDirection="forward">Home</ion-button>
        </div>

        <div *ngIf="userLevel == 9" class="fade-in">
          <div class="subheader" style="margin: 5%">You've completed all eight levels! Now it's time for your post-assessment.</div>
          <ion-button color="success" (click)="initCurrentLevel()">Post-Assessment</ion-button>
        </div>

      </div>

      <div *ngIf="userLevel > 9">
        <div class="header" style="color:white;margin: 5%"><b>You're all done.</b></div>
        <div class="subheader" style="margin: 5%">Since you've completed all eight levels and the post assessment, you don't have anything else to do! Thank you for your participation in this research.</div>
        <ion-button color="success" routerLink="/dashboard" routerDirection="forward">Home</ion-button>
      </div>

    </div>

  </div>

  <!--Learning Task-->
  <app-learning-task *ngIf="task == Task.LEARNING" [setNames]="setNames" [facePaths]="trainingFacePaths" (finished)="learningDone = true; iterateStage()"></app-learning-task>
  <!--Name and Face-->
  <app-name-face *ngIf="task == Task.NAME_FACE" [setNames]="setNames" [facePaths]="trainingFacePaths" (finished)="finished($event, 0)"></app-name-face>
  <!--Who's New?-->
  <app-whos-new *ngIf="task == Task.WHOS_NEW" [facePaths]="trainingFacePaths" [newFacePaths]="whosNewFacePaths" (finished)="finished($event, 1)"></app-whos-new>
  <!--Memory Match-->
  <app-memory-match *ngIf="task == Task.MEMORY" [facePaths]="trainingFacePaths" (finished)="finished($event, 2)"></app-memory-match>
  <!--Shuffle-->
  <app-shuffle *ngIf="task == Task.SHUFFLE" [facePaths]="trainingFacePaths" (finished)="finished($event, 3)"></app-shuffle>
  <!--Forced Choice-->
  <app-forced-choice *ngIf="task == Task.FORCED_CHOICE" [facePaths]="assessmentFacePaths" (finished)="finished($event, 4)"></app-forced-choice>
  <!--Same-Different-->
  <app-same-different *ngIf="task == Task.SAME_DIFFERENT" [facePaths]="assessmentFacePaths" (finished)="finished($event, 5)"></app-same-different>
  <!--Pre-Post-Assessment-->
  <app-same-different *ngIf="task == Task.PRETEST || task == Task.POSTTEST" [facePaths]="assessmentFacePaths" (finished)="finishPrePost($event)"></app-same-different>

  <!--For development only
  <div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <ion-button (click)="completeTraining()">Complete Training</ion-button>
    <ion-button (click)="completeAssessment()">Complete Assessment</ion-button>
    <ion-button (click)="completeMost()">Complete Most</ion-button>
    <div style="text-align:center">
      <br><br><br><br><br><br><br><br><br><br><br><br>
      <ion-button (click)="task = Task.LEARNING">Learning</ion-button>
      <ion-button (click)="task = Task.NAME_FACE">Name and Face</ion-button>
      <ion-button (click)="task = Task.WHOS_NEW">Who's New</ion-button>
      <ion-button (click)="task = Task.MEMORY">Memory</ion-button>
      <ion-button (click)="task = Task.SHUFFLE">Shuffle</ion-button>
      <ion-button (click)="task = Task.FORCED_CHOICE">Forced Choice</ion-button>
      <ion-button (click)="task = Task.SAME_DIFFERENT">Same Different</ion-button>
    </div>
  </div>-->

</ion-content>
